* {
    box-sizing: border-box;
    scroll-behavior: smooth;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: "gallient";
    src: local("gallient"),
        url('/src/gallient-font/GallientRegular-eZoMp.ttf') format(truetype);
}

@font-face {
    font-family: "montserrat";
    src: local("montserrat"),
        url('/src/montserrat-font/Montserrat-Bold.otf') format(truetype);
}

@font-face {
    font-family: "dancingscript";
    src: local("dancingscript"),
        url('/src/DancingScript-VariableFont_wght.ttf') format(truetype);
}

@font-face {
    font-family: "cinemasunday";
    src: local("cinemasunday"),
        url('/src/CinemasundaydemofontRegular-MVzop.otf') format(truetype);
}

.sans-regular {
    font-family: 'Nunito Sans';
}

.montserrat-font {
    font-family: "montserrat";
    font-weight: bolder;
}

.gallient-font {
    font-family: 'gallient';
}

.dancingscript-font {
    font-family: "dancingscript";
}

.cinemasunday-font {
    font-family: "cinemasunday";
    font-size: 85px;
}


/* Basic CSS Start */
:root {
    --default-font: "Montserrat";
    --col-bg: #f8eded;
    --hue: 223;
    --trans-dur: 0.4s;
    --bs-orange: #ff8000;
    --bs-transprent: transprent;
    --bs-blue: #2c74b3;
    --bs-grey: #9f9f9f;
    --bs-white: #ffffff;
    --bs-black: #000000;
    --bs-lorg: #ffe6cc;
    --bs-red: #db3f3f;
    --bs-marun: #832729;
    --bs-green: #54b435;
    --bs-skin: #f6e8e6;
    --bs-baby-pink: #f2e9e9;
    --bs-dark-pink: #efe3e3;
    --bs-black: rgb(21, 21, 21);

    --main-fcolor: #8a6e35;
    --bor-color: #947944;
    --col-bg2: #ded2b2;
    --col-overlay: #0000005d;
    --tra-main: #8a6e35c1;
    --btn-hover: #8a6e3527;
    --foot-back: #b40000;
}

#root {
    width: 100%;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.tx-mont {
    font-family: sans-serif, Montserrat;
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: lighter;
    font-family: "times" !important;
    overflow-x: hidden !important;
}

.tx-org {
    color: var(--bs-orange) !important;
}

.tx-red {
    color: var(--bs-red) !important;
}

.tx-marun {
    color: var(--bs-marun) !important;
}

.tx-green {
    color: var(--bs-green) !important;
}

.tx-yellow {
    color: var(--bs-yellow) !important;
}

.tx-white {
    color: var(--bs-white) !important;
}

.tx-pink {
    color: var(--bs-baby-pink) !important;
}

.tx-dpink {
    color: var(--bs-dark-pink) !important;
}

.tx-blue {
    color: var(--bs-blue) !important;
}

.tx-grey {
    color: var(--bs-grey) !important;
}

.tx-brown {
    color: var(--main-fcolor) !important;
}

.tx-brown2 {
    color: var(--bor-color) !important;
}

/* ================================ */

.bs-org {
    background: var(--bs-orange) !important;
}

.bs-transprent {
    background: var(--bs-transprent) !important;
}

.bs-red {
    background: var(--bs-red) !important;
}

.bs-pink {
    background: var(--bs-baby-pink) !important;
}

.bs-dpink {
    background: var(--bs-dark-pink) !important;
}

.bs-marun {
    background: var(--bs-marun) !important;
}

.bs-green {
    background: var(--bs-green) !important;
}

.bs-red {
    background: var(--bs-red) !important;
}

.bs-green {
    background: var(--bs-green) !important;
}

.bs-yellow {
    background: var(--bs-yellow) !important;
}

.bs-white {
    background: var(--bs-white) !important;
}

.bs-black {
    background-color: var(--bs-black) !important;
}

.bs-skin {
    background-color: var(--bs-skin) !important;
}

.bs-blue {
    background-color: var(--bs-blue) !important;
}

.bs-brown {
    background: var(--main-fcolor) !important;
}
.bs-light-brown{
    background-color: var(--col-bg2);
}

/* ================================ */

.border-marun {
    border-color: var(--bs-marun) !important;
}

.border-org {
    border-color: var(--bs-orange) !important;
}

.border-blue {
    border-color: var(--bs-blue) !important;
}

.border-red {
    border-color: var(--bs-red) !important;
}

.border-yellow {
    border-color: var(--bs-yellow) !important;
}

.border-brown {
    border-color: var(--main-fcolor) !important;
}


/* ================================ */
.shadow-1 {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199) !important;
}

.shadow-b-1 {
    box-shadow: 2px 20px 30px rgba(0, 0, 0, 0.11) !important;
}

.shadow-2 {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.199) !important;
}

.shadow-3 {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.199) !important;
}

.shadow-4 {
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.199) !important;
}

.shadow-5 {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.199) !important;
}

.shadow-6 {
    box-shadow: 12px 12px 35px rgba(0, 0, 0, 0.199) !important;
}

.shadow-btn {
    box-shadow: 0 4px 16px 3px var(--bs-orange);
}

.fs-6 {
    font-size: 0.9rem !important;
}

.fs-7 {
    font-size: 0.8rem !important;
}

.fs-8 {
    font-size: 0.7rem !important;
}

.fs-9 {
    font-size: 0.6rem !important;
}

.fs-10 {
    font-size: 0.5rem !important;
}

.h-fit {
    height: fit-content !important;
}

.w-fit {
    width: fit-content !important;
}

.active-sidebar {
    border-bottom: 2px solid var(--bs-blue);
    border-radius: 8px;
    color: var(--bs-blue) !important;
    transition: 0.2s;
}

textarea.vertical {
    resize: vertical;
    max-height: 50px;
    min-height: 30px;
    height: 30px;
}

textarea.vertical-sm {
    resize: vertical;
    max-height: 80px;
    min-height: 50px;
    height: 50px;
}

textarea.vertical-md {
    resize: vertical;
    max-height: 100px;
    min-height: 70px;
    height: 70px;
}

textarea.vertical-lg {
    resize: vertical;
    max-height: 120px;
    min-height: 90px;
    height: 90px;
}

textarea.vertical-xl {
    resize: vertical;
    max-height: 150px;
    min-height: 110px;
    height: 110px;
}

textarea.horizontal {
    resize: horizontal;
    max-width: 130px;
    min-width: 80px;
}

textarea.horizontal-sm {
    resize: horizontal;
    max-width: 150px;
    min-width: 100px;
}

textarea.horizontal-md {
    resize: horizontal;
    max-width: 180px;
    min-width: 120px;
}

textarea.horizontal-lg {
    resize: horizontal;
    max-width: 200px;
    min-width: 150px;
}

textarea.horizontal-xl {
    resize: horizontal;
    max-width: 300px;
    min-width: 180px;
}

.input-outline-none input:focus {
    outline: none;
}

.z-4 {
    z-index: 4 !important;
}

.z-5 {
    z-index: 5 !important;
}

.z-6 {
    z-index: 6 !important;
}

.z-7 {
    z-index: 7 !important;
}

.z-8 {
    z-index: 8 !important;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.object-cover {
    object-fit: cover;
}

.scale-1,
.hov-scale-1:hover {
    scale: 1.1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

.scale-2,
.hov-scale-2:hover {
    scale: 1.2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

.scale-3,
.hov-scale-3:hover {
    scale: 1.3;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

.scale-4,
.hov-scale-4:hover {
    scale: 1.4;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

.scale-5,
.hov-scale-5:hover {
    scale: 1.5;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

.hov-spin:hover {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.slide-top {
    -webkit-animation: slide-top 1.5s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 1.5s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hov-slide-top:hover {
    -webkit-animation: slide-top 1.5s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 1.5s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    25% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    50% {
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }

    75% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    25% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    50% {
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }

    75% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.form-select:focus {
    border-color: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.modal-center {
    display: flex;
    align-items: center;
    min-height: 100%;
}

.pointer {
    cursor: pointer !important;
}

.dash-border-top {
    border-top: 2px dashed #000;
}

.dash-border-bottom {
    border-bottom: 2px dashed #000;
}

.scroll-display-none::-webkit-scrollbar {
    display: none;
}

.text-select-none {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.input-outline-none input:focus {
    outline: none;
}

.form-control:focus {
    border: none !important;
    outline: 0 !important;
    box-shadow: 0px !important;
}

.blockquote {
    font-size: 1.5em;
    line-height: 1.5em;
}

.blockquote:before {
    content: open-quote;
}

.blockquote:after {
    content: close-quote;
}

.blockquote:before,
.blockquote:after {
    display: inline-block;
    vertical-align: bottom;
    color: var(--bs-black);
    font-size: 1.5em;
    top: 0.1em;
    padding: 0px 5px;
    position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.199);
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.199);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--bs-red);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.199);
}

.label-float input,
.label-float select {
    outline: none;
    font-size: 14px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 11px);
    left: 5px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    background-color: transparent;
    box-sizing: border-box;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    top: -15px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.slick-slide:focus {
    outline: none !important;
    border: none !important;
}

/* Code for Firefox */
::-moz-selection {
    background: var(--bs-baby-pink);
}

::selection {
    background: var(--bs-baby-pink);
}

/* Zoom in effect */
.zoom-in {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.zoom-in:hover {
    scale: 1.070;
    opacity: 8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

/* On hover scroll conent */
.scroll-hold,
.scroll-con {
    transition: 3.3s;
    -moz-transition: 3.3s;
    -webkit-transition: 3.3s;
    transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
}

.scroll-con {
    margin-left: 0em !important;
}

.scroll-hold {
    overflow: hidden !important;
}

.scroll-hold:hover .scroll-con {
    margin-left: -300px !important;
}

.modal-backdrop {
    background-color: transparent !important;
}


.radius-bottom {
    border-radius: 0 0 15px 15px !important;
}

button:hover {
    background-color: var(--btn-hover) !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--main-fcolor);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--tra-main);
}

::selection {
    color: var(--bs-white);
    background-color: #c1a89f;
}

.border-bottom {
    border-top: 1px solid var(--bor-color) !important;
    border-bottom: 1px solid var(--bor-color) !important;
}

.social-icon i {
    color: var(--bs-white);
}

.primary--text {
    color: var(--main-fcolor);
}

.text-decoration-line-through {
    opacity: 0.7;
}

.onScrollNavbar {
    border-top: 2px solid var(--bor-color);
    transition: all 0.2s;
}


.no-bullets li {
    list-style-type: none;
    padding-left: 0 !important;
}

/* header start */

.navbar {
    width: 90%;
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--bor-color);
    backdrop-filter: blur(8px);
}

.dot-tl::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 0;
    background: var(--bor-color);
}

.dot-br::after {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: -6px;
    right: 0;
    background: var(--bor-color);
}

.dot-bl::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: -6px;
    left: 0;
    background: var(--bor-color);
}

.dot-tr::after {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: 0;
    background: var(--bor-color);
}

.container-nav {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    font-size: 25px;
}

.search-icon {
    align-items: center;
    display: flex;
}

.fa-search {
    transform: rotate(270deg);
    height: 27px;
}

.cart-btn {
    height: 28px;
}

.nav-icons {
    font-size: 28px;
}

.container-nav a,
.nav-icons a {
    text-decoration: none;
    color: var(--bor-color);
}

.grab {
    cursor: -webkit-grab;
    cursor: grab;
}

.grabbing:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.input-search {
    height: 35px;
    width: 35px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: #5d5259 !important;
}

.btn-search {
    width: 35px;
    height: 35px;
    border-style: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    background-color: transparent !important;
    pointer-events: painted;
}


.menu-icons button:hover,
.menu-icons i:hover {
    border: none;
    transition: all .2s;
    background-color: transparent !important;
    color: black !important;
}

.btn-search:focus~.input-search {
    width: 300px;
    background-color: transparent;
    border-bottom: 1px solid #d6c6b6;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    background-color: transparent !important;
    border-bottom: 1px solid #d6c6b6;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


/* tab-header start */

.tab-navbar {
    display: none;
}

#sidebar {
    display: none;
}

.tab-menus .menu-items-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 250px;
    background-color: var(--col-bg2);
    border-right: 1px solid var(--main-fcolor);
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-top: 70px;
    z-index: 10;
}

.menu-items-nav li {
    position: relative;
    width: 200px;
    list-style: none;
    padding: 10px;
    border-bottom: 2px solid var(--bor-color);
}

.menu-items-nav li::after {
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: -5px;
    background: var(--bor-color);
}

.menu-items-nav li a {
    text-decoration: none;
    color: var(--bor-color);
}

.menu button {
    border: 0;
}

.menu button img {
    height: 40px;
}

.tab-menus i {
    position: fixed;
    font-size: 30px;
    top: 24px;
    z-index: 20;
    left: 13px;
    cursor: pointer;
}

.tab-nav {
    width: 100%;
    height: 60px;
}

.bs_ {
    width: 8%;
}


.hb_icons {
    width: 8%;
    align-items: center;
}

.hb_icons a .far {
    font-size: 28px;
    color: var(--main-fcolor);
}


.bigimg {
    height: 500px;
}

.main-cart {
    margin-top: 50px;
}

.main-cart .bigimg img {
    height: 460px !important;
}

.main-cart .smallimg img {
    height: 100px;
    border: 1px solid var(--bor-color);
}

.cart-details {
    width: 500px;
}

.review_star_icon i.non_rated {
    color: #fff !important;
    -webkit-text-stroke-color: blue;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--col-overlay);
}

.sku_img_div img {
    height: 100px;
}

.product_count {
    width: 110px;
    text-align: center;
    position: relative;
}

.product_count input.qty {
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
    padding: 9px 20px;
}

.product_count input.qty {
    padding: 10px 20px;
}

.product_count .cart-qty-plus,
.product_count .cart-qty-minus {
    border: 0px solid transparent;
    background-color: transparent;
}

.product_count .cart-qty-plus {
    position: absolute;
    right: 9px;
    top: 10px;
}

.product_count .cart-qty-minus {
    position: absolute;
    left: 9px;
    top: 11px;
}

.variant_image h5 {
    margin-right: 20px;
}

.totle-price h5 {
    margin-right: 25px;
}



#homeBlog {
    margin: 35px 0;
}

.blog_inner {
    box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    position: relative;
}

.blog_inner .blog_j_img {
    overflow: hidden;
    position: relative;
    width: 50%;
}

.blog_inner .blog_j_img img {
    transition: all 0.3s ease;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog_inner img:hover {
    transform: scale(1.1);
}

#homeBlog .blog_j_img img {
    width: 100%;
    max-width: inherit;
}

.blog_j_text {
    background-color: #ffffff7d;
    padding: 20px 15px 20px;
    width: 50%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.blog_inner.single .blog_j_text {
    min-height: 85px;
    padding: 25px 15px 15px;
    font-size: 17px;
    text-align: center;
}

.blog_j_text_inner {
    margin: auto;
    max-width: 80%;
}

.blog_j_text_inner h3 {
    margin-bottom: 35px;
    margin-top: 0;
    font-weight: 700;
    font-size: 24px;
}

.blog_j_text_inner h3 span {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #606060;
    font-weight: 400;
}

.blog_j_text h4 {
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 0;
    width: 100%;
    color: #2a2a2a;
    margin-bottom: 30px;
    font-size: 16px;
}





.modal-content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 13px;
}

.modal-body {
    padding: 0;
}

.btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
}

.myform {
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}

.form-control:focus {
    /* box-shadow: inset 0 -1px 0 #7e7e7e; */
}

.form-control {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
}

.myform .btn {
    display: flex;
    align-items: center;
}

.myform .btn:hover {
    background-color: inherit;
    color: #fff;
    border-color: #fff;
}

form p {
    font-size: 13px;
    padding-top: 1em;
}

form p a {
    font-size: 13px;
    color: var(--main-fcolor);
    text-decoration: underline;
}

p a:hover {
    color: #fff;
}

.phoneno-field {
    display: flex;
    gap: 10px;
}

.side-img img {
    height: 500px;
    width: 180px;
}

.otp-enter input {
    height: 35px;
    width: 30px;
}




.checkbox-wrapper-25 input[type="checkbox"]:checked {
    background-position: 0 0, 35px 0;
    padding-left: 25px;
    padding-right: 0;
}


.type-effect {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 3px solid var(--main-fcolor); */
    animation: typing 2s steps(25, end) forwards, blinkfre .5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%
    }
}

@keyframes blinkfre {
    50% {
        border-color: transparent;
    }
}

.slick-center .uniq {
    scale: 1.1;
    transition: 1.5s ease-in-out;
}

.slick-center .uniq {
    scale: 1.2 !important;
    transition: 2s ease-in-out;
}

.slick-center .uniq img {
    scale: 1.3 !important;
    transform: rotateZ(100deg);
    transition: 2s ease-in-out;
}

.slick-active .uniq {
    scale: 1;
    transition: 1.5s ease-in-out;
}

.slick-active .uniq img {
    scale: 1;
    transition: 2s ease-in-out;
}

.scale-img:hover img {
    scale: 1.1;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
}