.line-1 {
    position: absolute;
    top: 10px;
    border: 1px solid var(--main-fcolor);
    border-radius: 250px 250px 40px 40px;
}

.line-2 {
    position: absolute;
    top: 2px;
    border: 1px solid var(--main-fcolor);
    border-radius: 250px 250px 38px 38px;
}

.line-3 {
    position: absolute;
    top: 0px;
    border: 1px solid var(--main-fcolor);
    border-radius: 250px 250px 42px 42px;
}
