.main-page {
    height: 665px;
}

.main-content {
    display: flex;
}

.main-img {
    justify-content: center;
}

.fingers {
    width: 80px;
}

.fingers img {
    height: 150px;
    top: 35px;
    left: 0;
    border-radius: 50%;
}

.fingers span {
    position: absolute;
    top: 210px;
    left: 25px;
    width: 40px;
    height: 1px;
    border: 1px solid var(--main-fcolor);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.fingers span::before {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    background: var(--bor-color);
}

.landing-img {
    z-index: 1;
}

/* .main-img .main-kadli {
   
} */

.line-1 {
    position: absolute;
    top: 10px;
    border: 1px solid var(--main-fcolor);
    border-radius: 250px 250px 40px 40px;
}

.line-2 {
    position: absolute;
    top: 2px;
    border: 1px solid var(--main-fcolor);
    border-radius: 250px 250px 38px 38px;
}

.line-3 {
    position: absolute;
    top: 0px;
    border: 1px solid var(--main-fcolor);
    border-radius: 250px 250px 42px 42px;
}

.dot-line {
    position: relative;
    top: 20px;
    left: 25px;
    width: 70px;
    height: 1px;
    border: 1px solid var(--main-fcolor);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.dot-line::after {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    background: var(--bor-color);
}

.hands {
    width: 80px;
}

.hands img {
    height: 175px;
    border-radius: 40px;
    rotate: 45deg;
    bottom: -27px;
    right: -75px;
}

.main-text {
    width: 55%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.back-img {
    position: absolute;
    width: 150%;
    height: 445px;
    margin-right: -10px;
    border-radius: 15px;
    background-color: var(--col-bg2);
    z-index: -1;
}
