@media (max-width: 1400px) {
    .img6 {
        height: 473.5px !important;
    }
}

@media (max-width: 1320px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px !important;
    }

    .img6 {
        height: 499px !important;
    }
}

@media (max-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }

    .img6 {
        height: 489px !important;
    }
}

@media (max-width: 1100px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1050px;
    }

    .navbar .nav-contains .container-nav {
        font-size: 20px !important;
    }
}

@media (max-width: 1400px) {
    .container-nav .menus {
        width: 100%;
        gap: 11px !important;
    }

    .main-text h3 {
        font-size: 30px !important;
    }

    .main-text h1 {
        font-size: 45px !important;
    }

    .main-text p {
        font-size: 22px !important;
    }

    .product {
        height: fit-content;
        margin-top: 20px !important;
    }

    .pro-main {
        display: block !important;
    }

    .pro-image {
        width: 100% !important;
    }

    .product-text {
        width: 100% !important;
    }

    .banner-img .unique-text {
        left: 52% !important;
    }
}

@media (max-width: 1201px) {
    .container-nav .menus {
        gap: 7px !important;
        font-size: 18px !important;
    }

    .main-text h1 {
        font-size: 40px !important;
    }

}

@media (max-width: 1101px) {

    header {
        width: 95% !important;
    }

    .container-nav a {
        font-size: 17px !important;
    }
}

@media (max-width: 1050px) {

    .main-text h3 {
        font-size: 25px !important;
    }

    .main-text h1 {
        font-size: 35px !important;
    }

    .main-text p {
        font-size: 17px !important;
    }
}

@media (max-width: 1005px) {
    .container-nav a {
        font-size: 16px !important;
    }
}

@media (max-width: 992px) {

    .container,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 900px !important;
    }
}

@media (max-width: 978px) {
    .main-text h1 {
        font-size: 33px !important;
    }
}


@media (max-width: 946px) {

    .nav {
        display: none !important;
    }

    .tab-navbar {
        display: block !important;
    }

    .main-page {
        height: 830px !important;
    }

    .fingers span {
        display: none !important;
    }

    .main-content {
        flex-direction: column !important;
    }

    .main-text {
        width: 100% !important;
        align-items: center !important;
        margin-top: 80px !important;
        display: flex !important;
        flex-direction: column !important;
    }

    .main-text h1 {
        text-align: center !important;
    }

    .main-text button {
        margin: auto !important;
    }

    .main-text p {
        display: none !important;
    }

    .fingers {
        height: 130px !important;
    }

    .main-img .main-kadli {
        height: 530px !important;
        width: 389px !important;
    }

    .line-1 {
        position: absolute;
        top: 43px !important;
        left: -9px !important;
        height: 540px !important;
        width: 394px !important;
    }

    .line-2 {
        position: absolute !important;
        top: 43px !important;
        left: -3px !important;
        height: 543px !important;
        width: 394px !important;
    }

    .line-3 {
        position: absolute !important;
        top: 43px !important;
        left: -5px !important;
        height: 546px !important;
        width: 393px !important;
    }

    .fingers span {
        position: absolute;
        top: 210px !important;
        left: 490px !important;
        width: 40px !important;
        height: 1px !important;
        border: 1px solid var(--main-fcolor);
        display: flex !important;
        align-items: center !important;
        border-radius: 20px !important;
    }

    .hands img {
        position: absolute;
        height: 150px !important;
        border-radius: 40px !important;
        rotate: 45deg !important;
        bottom: -55px !important;
        right: 7px !important;
        z-index: 1 !important;
    }

    .back-img {
        position: absolute !important;
        width: 57% !important;
        right: 0 !important;
        top: 150px !important;
        height: 475px !important;
        margin-top: 70px !important;
        border-radius: 15px 0 0 15px !important;
        background-color: var(--col-bg2);
        z-index: -1 !important;
    }

}

@media (max-width: 946px) {

    .fullpage .main_images .img1 {
        border: 2px solid var(--main-fcolor);
        height: 230px !important;
        width: 170px !important;
        border-radius: 40px 10px !important;
    }

    .earring,
    .chain,
    .braclet,
    .ring {
        width: 170px !important;
    }

    .fullpage .main_images .img2 {
        border: 2px solid var(--main-fcolor);
        height: 230px !important;
        width: 170px !important;
        border-radius: 40px 10px;
    }
}

@media (max-width: 769px) {

    .main-page2 {
        height: 730px !important;
        margin-top: 40px !important;
    }

    .fullpage .main_images .img1,
    .fullpage .main_images .img2 {
        border: none !important;
    }

    .fullpage .main_images .img1 img {
        width: 100% !important;
        height: 100% !important;
        margin-top: 0 !important;
    }

    .fullpage .main_images .img2 img {
        width: 100% !important;
        height: 100% !important;
        margin-top: 0 !important;
    }

    .ear_,
    .chain_,
    .braclet_,
    .ring_ {
        flex-direction: column !important;
    }

    .img1,
    .img2 {
        margin: auto !important;
    }

    .earring,
    .chain,
    .braclet,
    .ring {
        margin: auto !important;
    }

    .chain_ .chain {
        order: 2 !important;
    }

    .braclet_ .img2 {
        order: 2 !important;
    }

    .product {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }

    .pro-main {
        justify-content: space-between !important;
    }

    .product-sell {
        margin-top: 20px !important;
    }

    .pro-image {
        display: none !important;
        width: 100% !important;
        gap: 8px !important;
    }

    .product-text {
        margin-top: 20px !important;
    }

    .heading {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    .price i {
        display: none !important;
    }

    .heading i {
        display: block !important;
    }

    .plus-btn {
        display: none !important;
    }

    .pro-image-tab {
        display: flex !important;
    }
}

@media (max-width: 737px) {

    .product {
        padding-right: 50px !important;
        padding-left: 50px !important;
    }

    .product_ img {
        height: 275px;
        width: 275px !important;
        border-radius: 8px;
    }

    .pro-text {
        width: 275px;
    }

    .pro-image-tab {
        height: 490px;
    }

    .container_1 {
        height: 490px;
    }

    .container_1 img {
        height: 490px;
    }

    .container_2 img {
        height: 160px;
    }

    .container_3 {
        width: 160px;
        padding: 28px;
    }

}

@media (max-width: 680px) {

    .pro-image-tab {
        height: 480px;
    }

    .container_1 {
        height: 480px;
    }

    .container_1 img {
        height: 480px;
    }

    .container_2 img {
        height: 150px;
    }

    .container_3 {
        width: 150px;
        padding: 23px;
    }
}

@media (max-width: 674px) {
    .product_ img {
        height: 260px !important;
        width: 260px !important;
        border-radius: 8px;
    }

    .pro-text {
        width: 260px !important;
    }

    .pro-text h6 {
        font-size: 15px !important;
    }
}

@media (max-width: 660px) {
    .pro-image-tab {
        height: 465px !important;
    }

    .container_1 {
        height: 465px !important;
    }

    .container_1 img {
        height: 465px !important;
    }

    .container_2 img {
        height: 120px !important;
    }

    .container_3 {
        width: 120px !important;
        padding: 14px !important;
    }

    .container_3 a {
        font-size: 14px !important;
    }
}

@media (max-width: 644px) {
    .product_ img {
        height: 235px !important;
        width: 235px !important;
        border-radius: 8px;
    }

    .pro-text {
        width: 236px !important;
    }

    .pro-text h6 {
        font-size: 14px !important;
    }
}

@media (max-width: 620px) {
    .pro-image-tab {
        height: 445px !important;
    }

    .container_1 {
        height: 445px !important;
    }

    .container_1 img {
        height: 445px !important;
    }

    .container_2 img {
        height: 100px !important;
    }

    .container_3 {
        width: 100px;
        padding: 0 6px !important;
    }

    .container_3 a {
        font-size: 13px !important;
    }
}

@media (max-width: 600px) {


    .main-page {
        height: 785px !important;
    }

    .main-img .main-kadli {
        height: 480px !important;
        width: 359px !important;
    }

    .line-1 {
        position: absolute;
        top: 43px !important;
        left: -9px !important;
        height: 490px !important;
        width: 374px !important;
    }

    .line-2 {
        position: absolute;
        top: 43px !important;
        left: -3px !important;
        height: 493px !important;
        width: 371px !important;
    }

    .line-3 {
        position: absolute;
        top: 43px !important;
        left: -5px !important;
        height: 496px !important;
        width: 368px !important;
    }

    .back-img {
        position: absolute;
        width: 57% !important;
        right: 0 !important;
        top: 150px !important;
        height: 425px !important;
        margin-top: 70px !important;
        border-radius: 15px 0 0 15px !important;
        background-color: var(--col-bg2);
        z-index: -1 !important;
    }

    .product {
        padding-right: 45px !important;
        padding-left: 45px !important;
    }

    .product_ img {
        height: 235px !important;
        width: 225px !important;
        border-radius: 8px !important;
    }

    .pro-text {
        margin-top: 10px !important;
        width: 226px !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .pro-text h5 {
        width: 100% !important;
        text-align: center !important;
    }

    .pro-text h6 {
        width: 53% !important;
    }
}

@media (max-width: 580px) {
    .pro-image-tab {
        height: 570px !important;
        flex-direction: column !important;
    }

    .container_1 img {
        width: 100% !important;
    }

    .small-images {
        display: flex !important;
        flex-direction: row !important;
        overflow-y: scroll !important;
    }

    .container_2 img {
        height: 100px !important;
        width: 105px !important;
    }

    .container_3 {
        width: 105px !important;
        padding: 36px 6px !important;
    }

    .product-text {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media (max-width: 571px) {
    .container_3 {
        padding: 29px 27px !important;
    }
}

@media (max-width: 567px) {


    .container,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 540px !important;
    }

    .fingers {
        width: 60px !important;
    }

    .fingers img {
        height: 125px !important;
    }

    .main-img .main-kadli {
        height: 430px !important;
        width: 309px !important;
    }

    .line-1 {
        height: 440px !important;
        width: 324px !important;
    }

    .line-2 {
        height: 443px !important;
        width: 321px !important;
    }

    .line-3 {
        height: 446px !important;
        width: 318px !important;
    }

    .fingers span {
        left: 400px !important;
    }

    .hands {
        width: 60px !important;
    }

    .hands img {
        height: 125px !important;
    }

    .back-img {
        position: absolute;
        width: 57% !important;
        right: 0 !important;
        top: 150px !important;
        height: 370px !important;
        margin-top: 70px !important;
        border-radius: 15px 0 0 15px !important;
        background-color: var(--col-bg2);
        z-index: -1 !important;
    }

    .product_ img {
        height: 240px !important;
        width: 210px !important;
    }

    .pro-text {
        width: 210px !important;
    }

    .pro-text h6 {
        width: 58% !important;
    }
}

@media (max-width: 556px) {

    .container,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 500px !important;
    }

    .product {
        padding-right: 25px !important;
        padding-left: 25px !important;
    }

    .product_ img {
        height: 235px !important;
        width: 210px !important;
    }

    .pro-text {
        width: 210px !important;
    }

    .pro-text h6 {
        width: 56% !important;
    }
}

@media (max-width: 495px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 470px !important;
    }

    .product {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .product_ img {
        height: 220px !important;
        width: 190px !important;
    }

    .pro-text {
        width: 190px !important;
    }

    .pro-text h6 {
        width: 62% !important;
    }

}

@media (max-width: 478px) {

    .container,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 450px !important;
    }
}

@media (max-width: 463px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 430px !important;
    }

    .main-page {
        height: 685px !important;
    }

    .hands img {
        height: 115px !important;
    }

    .fingers span {
        left: 385px !important;
    }

    .main-text h3 {
        font-size: 20px !important;
    }

    .main-text h1 {
        font-size: 27px !important;
    }

    .main-text p {
        font-size: 20px !important;
    }

    .product {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .pro-image-tab {
        height: 540px !important;
    }

    .product_ img {
        height: 210px !important;
    }

    .container_1 img {
        height: 410px !important;
    }

    .container_1 {
        height: 410px !important;
    }

}

@media (max-width: 440px) {

    .container,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 420px !important;
    }

    .fingers {
        width: 50px !important;
    }

    .fingers img {
        height: 110px !important;
    }

    .fingers span {
        left: 360px !important;
    }

    .main-img .main-kadli {
        height: 410px !important;
        width: 289px !important;
    }

    .line-1 {
        height: 420px !important;
        width: 304px !important;
    }

    .line-2 {
        height: 423px !important;
        width: 301px !important;
    }

    .line-3 {
        height: 426px !important;
        width: 298px !important;
    }

    .hands {
        width: 50px !important;
    }

    .hands img {
        height: 110px !important;
    }

    .product_ img {
        height: 205px !important;
        width: 185px !important;
    }

    .pro-text {
        width: 185px !important;
    }

    .pro-text h6 {
        width: 65% !important;
    }

    .heading h3 {
        font-size: 20px !important;
    }

    .heading i {
        font-size: 16px !important;
    }
}

@media (max-width: 430px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 400px !important;
    }

    .tab-logo {
        height: 110px;
        border: none !important;
    }

    .tab-logo::before {
        display: none !important;
    }

    .tab-logo::after {
        display: none !important;
    }

    .fingers {
        width: 40px !important;
    }

    .fingers img {
        height: 110px !important;
    }

    .fingers span {
        width: 30px !important;
        left: 350px !important;
    }

    .main-img .main-kadli {
        height: 400px !important;
        width: 279px !important;
    }

    .line-1 {
        height: 410px !important;
        width: 294px !important;
    }

    .line-2 {
        height: 413px !important;
        width: 291px !important;
    }

    .line-3 {
        height: 416px !important;
        width: 288px !important;
    }

    .hands {
        width: 40px !important;
    }

    .hands img {
        height: 110px !important;
    }

    .back-img {
        display: none !important;
    }

    .product_ img {
        height: 195px !important;
        width: 170px !important;
    }

    .pro-text {
        width: 170px !important;
    }

    .pro-text h6 {
        width: 70% !important;
    }

    .pro-image-tab {
        height: 510px !important;
    }

    .container_1 img {
        height: 380px !important;
    }

    .container_1 {
        height: 380px !important;
    }
}

@media (max-width: 420px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 390px !important;
    }

    .back-img {
        display: none !important;
    }

}

@media (max-width: 401px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 380px !important;
    }

    .hands img {
        height: 115px !important;
    }

    .fingers span {
        left: 290px !important;
    }

    .fingers {
        width: 30px !important;
    }

    .fingers img {
        height: 90px !important;
    }

    .hands {
        width: 30px !important;
    }

    .hands img {
        height: 90px !important;
        border-radius: 16px !important;
        bottom: -33px !important;
        right: -3px !important;
    }

    .main-img .main-kadli {
        height: 360px !important;
        width: 239px !important;
    }

    .line-1 {
        height: 370px !important;
        width: 254px !important;
    }

    .line-2 {
        height: 373px !important;
        width: 251px !important;
    }

    .line-3 {
        height: 376px !important;
        width: 248px !important;
    }

    .product {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .product_ img {
        height: 185px !important;
        width: 165px !important;
    }

    .pro-text {
        width: 165px !important;
    }

    .pro-text h6 {
        width: 75% !important;
    }
}

@media (max-width: 396px) {

    .container,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 370px !important;
    }

    .pro-image-tab {
        height: 490px !important;
        gap: 10px !important;
    }

    .container_1 {
        height: 360px !important;
    }

    .container_1 img {
        height: 360px !important;
    }
}

@media (max-width: 379px) {


    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 340px !important;
    }

    .main-page2 {
        height: 670px !important;
        margin-top: 40px !important;
    }

    .earring,
    .chain,
    .braclet,
    .ring {
        margin: auto !important;
        width: fit-content !important;
    }

    .fullpage .main_images .img1 {
        height: 200px !important;
        width: 140px !important;
    }

    .fullpage .main_images .img1 img {
        border-radius: 70px 7px 40px 7px !important;
    }

    .fullpage .main_images .img2 {
        height: 200px !important;
        width: 140px !important;
    }

    .fullpage .main_images .img2 img {
        border-radius: 70px 7px 40px 7px !important;
    }

    .product-sell {
        height: fit-content !important;
    }

    .product_ img {
        height: 185px !important;
        width: 155px !important;
    }

    .pro-text {
        width: 155px !important;
    }

    .pro-text h6 {
        width: 80% !important;
    }

    .heading h3 {
        font-size: 17px !important;
    }

    .heading i {
        font-size: 13px !important;
    }

    .product-text h6 {
        font-size: 13px !important;
    }

    .pro-image-tab {
        height: 460px !important;
    }

    .container_1 {
        height: 340px !important;
    }

    .container_1 img {
        height: 340px !important;
    }

    .container_2 img {
        height: 90px !important;
        width: 95px !important;
    }

    .container_3 {
        padding: 19px 27px !important;
    }
}

@media (max-width: 354px) {


    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 320px !important;
    }

    .fingers span {
        left: 285px !important;
        width: 25px !important;
    }

    .product_ img {
        height: 180px !important;
        width: 145px !important;
    }

    .pro-text {
        width: 145px !important;
    }

    .pro-text h6 {
        width: 85% !important;
    }

    .pro-image-tab {
        height: 390px !important;
    }

    .container_1 {
        height: 300px !important;
    }

    .container_1 img {
        height: 300px !important;
    }

    .container_2 img {
        height: 80px !important;
        width: 85px !important;
    }

    .container_3 {
        padding: 14px 25px !important;
    }

}

@media (max-width: 337px) {


    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 300px !important;
    }

    .main-page2 {
        height: 610px !important;
        margin-top: 40px !important;
    }

    .fingers span {
        left: 272px !important;
        width: 25px !important;
    }

    .fullpage .main_images .img1 {
        height: 170px !important;
        width: 120px !important;
    }

    .fullpage .main_images .img2 {
        height: 170px !important;
        width: 120px !important;
    }

    .fullpage span {
        width: 50px !important;
    }

    .fullpage h3 {
        font-size: 20px !important;
    }

    .product_ img {
        height: 165px !important;
        width: 135px !important;
    }

    .pro-text {
        width: 135px !important;
    }

    .pro-text h6 {
        width: 90% !important;
    }

}