.slideimg div img {
    position: relative;
    height: 180px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 37px;
    border-bottom-left-radius: 37px;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slideimg {
    height: 200px;
}

.slideimg div img:hover {
    transition: all 1s;
    top: -7px;
    left: 7px;
}

.slideimg div {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 184px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 2s;
}

/* .slideimg img:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
    transition: all 0.5s;
    rotate: 10deg;
} */

.cardsol {
    border-radius: 15px;
}

.img6 {
    height: 550px;
    border-radius: 13px;
}