/* .wu-img .border-img img:hover {
    rotate: 90deg;
    transition: all 1.5s;
    position: relative;
    left: 90px;
    cursor: pointer;
} */

.wu-img {
    border-top-left-radius: 100px;
}

.image-0 {
    position: absolute;
    left: -108px;
    top: -82px;
    rotate: 53deg;
    height: 260px;
    z-index: -10;
}
